{% extends 'dashboard.layout.twig' %}
{% block body %}
  <div  class="row">
    {% for tracker in trackers %}
        <div class="col-4">
          <div class="card">
        <div class="card-header">
          <h3 class="card-title"><a href="/dashboard/vehicules/{{tracker.trackerId}}">{{tracker.trackerName}}</a></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-6">
              <a href="/dashboard/vehicules/{{tracker.trackerId}}">
                <img class="col" src="/images/Logo-GeoRide.png" alt="">
              </a>
            </div>

          </div>
          <h3 class="profile-username text-center">
          {% if tracker.isLocked %}
            Verrouiller
          {% else %}
            Déverrouiller
          {% endif %}
          </h3>
          <p class="text-muted text-center">{{tracker.status}}</p>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
          {% if tracker.isLocked == false  %}
            <a class="btn btn-app center" href="/dashboard/vehicules/{{tracker.trackerId}}/lock">
              <i class="fa fa-lock"></i> Lock
            </a>
          {% endif %}
          {% if tracker.isLocked %}
            <a  class="btn btn-app" href="/dashboard/vehicules/{{tracker.trackerId}}/unlock">
              <i class="fa fa-unlock"></i> Unlock
            </a>
          {% endif %}
        </div>
        <!-- /.card-footer-->
      </div>
        </div>
    {% endfor %}
    </div>
    <!-- /.row -->
{% endblock %}
{% block script %}

{% endblock %}
