{% extends 'dashboard.layout.twig' %}
{% block style %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 425px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle
                {% if myTracker.isLocked %}
                  circle-red
                {% elseif myTracker.isLocked == false %}
                {% if myTracker.moving %}
                  circle-green
                {% else %}
                  circle-orange
                {% endif %}
                {% endif %}"
                     src="/images/Logo-GeoRide.png"
                     alt="User profile picture">
              </div>

              <h3 class="profile-username text-center">
                {% if myTracker.isLocked %}
                  Verrouillé
                {% else %}
                  Déverrouillé
                {% endif %}
              </h3>

              <p class="text-muted text-center">
                {{myTracker.status}}
              </p>
              {% if myTracker.canSeeStatistics %}
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Vitesse</b><br>
                  {% if myTracker.moving %}
                    <a class="float-right">{{myTracker.speed|number_format(0, ',', ' ') }} km/h</a>
                  {% else %}
                    <a class="float-right">À l'arrêt</a>
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Odometre</b><br>
                  <a class="float-right">{{myTracker.odometer|number_format(0, ',', ' ') }} km</a>
                </li>
                <li class="list-group-item">
                  <b>Trajets</b><br>
                  <a class="float-right">{{trips|length}}</a>
                </li>
                <li class="list-group-item">
                  <b>Distance totale</b><br>
                  <a class="float-right">{{myTracker.distance|number_format(0, ',', ' ') }} km</a>
                </li>
                <li class="list-group-item">
                  <b>Vitesse max</b><br>
                  <a class="float-right">{{myTracker.maxSpeed|number_format(0, ',', ' ') }} km/h</a>
                </li>
                <li class="list-group-item">
                  <b>Vitesse moyenne</b><br>
                  <a class="float-right">{{myTracker.averageSpeed|number_format(0, ',', ' ') }} km/h</a>
                </li>
                <li class="list-group-item">
                  <b>Durée totale</b><br>
                  <a class="float-right">{{myTracker.duration}} heures</a>
                </li>

              </ul>
              {% endif %}
              <div class="text-center">
                {% if myTracker.canLock %}
                <a id="lockVehicule"
                  {% if myTracker.isLocked  %}
                    style='display:none;'
                  {% endif %}
                  class="btn btn-app center" href="/dashboard/vehicules/{{myTracker.trackerId}}/lock?page=detail">
                    <i class="fa fa-lock"></i> Lock
                  </a>
                {% endif %}
                {% if myTracker.canUnlock %}
                <a id="unlockVehicule"
                  {% if myTracker.isLocked == false %}
                     style='display:none;'
                  {% endif %}
                  class="btn btn-app" href="/dashboard/vehicules/{{myTracker.trackerId}}/unlock?page=detail">
                   <i class="fa fa-unlock"></i> Unlock
                 </a>
                {% endif %}
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#carte" data-toggle="tab">Position</a></li>
                <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Trajets</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Paramètres</a></li>
                <li class="nav-item"><a class="nav-link" href="#abonnement" data-toggle="tab">Abonnement</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane" id="activity">
                  {% for trip in trips %}
                    <!-- Post -->
                    <div class="post">
                      <div style="display: flex; justify-content: space-between;">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="/images/user1-128x128.jpg" alt="user image">
                          <span class="username">
                            <a href="/dashboard/vehicules/{{myTracker.trackerId}}/{{trip.startTime}}/{{trip.endTime}}">{{trip.startTime|date("d/m/Y")}} - {{trip.startTime|date("H:i")}}</a> - {{trip.id}}
                          </span>
                          <span class="description">
                            {{trip.niceStartAddress}}
                            -
                            {{trip.niceEndAddress}}
                          </span>
                        </div>
                        {% if trip.id %}
                          <a href="/dashboard/vehicules/{{myTracker.trackerId}}/trips/{{trip.id}}/share" class="btn btn-app btn-app-sm" target="_blank"><i class="fa fa-share-square"></i></a>
                        {% endif %}
                      </div>
                      <!-- /.user-block -->
                      <p>
                        De : {{trip.startAddress}}<br>
                        À : {{trip.endAddress}}
                      </p>
                      <p>
                        <i class="fa fa-road" aria-hidden="true"></i> {{trip.distance|number_format(0, ',', ' ')}} km / <i class="fa fa-clock-o" aria-hidden="true"></i> {{trip.duration}} mins / <i class="ion ion-ios-stopwatch-outline"></i> {{trip.averageSpeed|number_format(0, ',', ' ')}} km/h / <i class="ion ion-speedometer"></i> {{trip.maxSpeed|number_format(0, ',', ' ')}} km/h
                      </p>

                    </div>
                    <!-- /.post -->
                  {% endfor %}

                </div>
                <!-- /.tab-pane -->
                <div class="active tab-pane" id="carte">
                  <div id="map" class=""></div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label>Peut voir la position</label>
                      <input type="text" class="form-control" value="{% if myTracker.canSeePosition %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut verrouiller</label>
                      <input type="text" class="form-control" value="{% if myTracker.canLock %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut déverrouiller</label>
                      <input type="text" class="form-control" value="{% if myTracker.canUnlock %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut partager</label>
                      <input type="text" class="form-control" value="{% if myTracker.canShare %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut supprimer un partage</label>
                      <input type="text" class="form-control" value="{% if myTracker.canUnshare %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut voir la vitesse</label>
                      <input type="text" class="form-control" value="{% if myTracker.canCheckSpeed %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut voir les statistiques</label>
                      <input type="text" class="form-control" value="{% if myTracker.canSeeStatistics %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut envoyer un signal de détresse pour une panne</label>
                      <input type="text" class="form-control" value="{% if myTracker.canSendBrokenDownSignal %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                    <div class="form-group">
                      <label>Peut déclarer volé</label>
                      <input type="text" class="form-control" value="{% if myTracker.canSendStolenSignal %}Oui{% else %}Non{% endif %}" disabled="">
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="abonnement">
                  <form class="form-horizontal">
                    {% if myTracker.activationDate != null %}
                    <div class="form-group">
                      <label>Date d'activation de l'abonnement</label>
                      <input type="text" class="form-control" value="{{myTracker.activationDate|date('d/m/Y H:i')}}" disabled="">
                    </div>
                    {% endif %}
                    {% if myTracker.expires != null %}
                    <div class="form-group">
                      <label>Date d'expiration de la carte N°{{myTracker.giftCardId}}</label>
                      <input type="text" class="form-control" value="{{myTracker.expires|date('d/m/Y H:i')}}" disabled="">
                    </div>
                    {% endif %}
                    {% if myTracker.lastPaymentDate != null %}
                    <div class="form-group">
                      <label>Date du dernier paiement</label>
                      <input type="text" class="form-control" value="{{myTracker.lastPaymentDate|date('d/m/Y H:i')}}" disabled="">
                    </div>
                    {% endif %}
                  </form>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
{% block script %}
<script src="/lodash/lodash.js" charset="utf-8"></script>
<script>
  var map,marker,markers=[],lastLat='{{myTracker.latitude}}',lastLng='{{myTracker.longitude}}';


  function addMarker(latitude,longitude,trackerName,isLocked){

    marker = new google.maps.Marker({
      position: {lat:_.toNumber(latitude),lng:_.toNumber(longitude)},
      map: map,
      title: trackerName
    });
    if (isLocked == 'true' || isLocked == true) {
      var cityCircle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 0,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: marker.getPosition(),
              radius: 100
            });
    }
    marker = {
      marker:marker,
      circle:cityCircle
    }
    return marker
  }
  function removeMarker(marker){
    if (marker.marker) {
      marker.marker.setMap(null)
    }
    if (marker.circle) {
      marker.circle.setMap(null)
    }
  }
  function initMap() {
    var zoneMarqueurs = new google.maps.LatLngBounds();
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 48.8552236, lng: 2.3202793},
      zoom: 12
    });
      {% if myTracker.canSeePosition %}
        marker = addMarker('{{myTracker.latitude}}', '{{myTracker.longitude}}','{{myTracker.trackerName}}','{{myTracker.isLocked}}')
        zoneMarqueurs.extend(marker.marker.getPosition());
      {% endif %}


    map.fitBounds(zoneMarqueurs);
    var listener = google.maps.event.addListener(map, "idle", function() {
      if (map.getZoom() > 15) map.setZoom(15);
      google.maps.event.removeListener(listener);
    });

  }
  socket.on('lockedPosition', (data) => {
    removeMarker(marker)
    if (data.isLocked) {
      $('#unlockVehicule').show()
      $('#lockVehicule').hide()
      $('.img-circle').removeClass('circle-green').removeClass('circle-orange').addClass('circle-red')
      $('.profile-username').html("Verrouillé")
      addMarker(data.lockedLatitude,data.lockedLongitude,data.trackerName,data.isLocked)
    }else {
      $('#unlockVehicule').hide()
      $('#lockVehicule').show()
      $('.profile-username').html("Déverrouillé")
      $('.img-circle').removeClass('circle-red')
      if (data.moving) {
        $('.img-circle').addClass('circle-green')
      }else {
        $('.img-circle').addClass('circle-orange')
      }
      addMarker(lastLat,lastLng,data.trackerName,data.isLocked)
    }
  })
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClR6qsi7Vas_kzz3drLKNvd45OBmKs9oI&callback=initMap"
async defer></script>
{% endblock %}
